td{
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px;
}

table{
    margin-top: 10px;
    min-width: 50%;
    border: 1px solid #ccc;
    background-color: rgb(238, 203, 203);
}